.container{
    padding: 5rem;
    background: url('../../../assets/coffeebeans.jpg');
}

li.coffeName{
    border: 1px solid grey;
    margin: 1rem;
    padding: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .grid-container .coffeName {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 20px;
    font-size: 24px;
    font-weight: bolder;
  }

  .coffeName li{
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }